In [1]:
import pandas as pd
import openpyxl

In [2]:
df = pd.read_excel('GENeSYS-MOD_User_Input_Settings_v01_phe_05-09-2023.xlsx', sheet_name='Region_selection')

# Now you can work with the DataFrame (e.g., display, manipulate, analyze data)
print(df)

  Continent Country Country_Sublevel_1 Country_Sublevel_2  Region Selected
0    Europe      DE              DE-BY           DE-BY-UF                1
1    Europe      NO                NO1               NO11                1
2    Europe      NO                NO1                NO1                1
3    Europe      NO                 NO                 NO                0
4    Europe      DE              DE-BY              DE-BY                1
5    Europe      DE                 DE                 DE                1
6      Asia      CN                 CN                 CN                0
7      Asia      CN             CN-Cen             CN-Cen                1
8      Asia      CN             CN-Cen       CN-Cen-Henan                1

In [3]:
filtered_df = df[df.iloc[:, -1] == 1]

# Now 'filtered_df' contains only the entries with a 1 in the last field
print(filtered_df)

  Continent Country Country_Sublevel_1 Country_Sublevel_2  Region Selected
0    Europe      DE              DE-BY           DE-BY-UF                1
1    Europe      NO                NO1               NO11                1
2    Europe      NO                NO1                NO1                1
4    Europe      DE              DE-BY              DE-BY                1
5    Europe      DE                 DE                 DE                1
7      Asia      CN             CN-Cen             CN-Cen                1
8      Asia      CN             CN-Cen       CN-Cen-Henan                1

In [4]:
# Read the CSV file into a Pandas DataFrame, starting from row 5 and using ';' as the delimiter
second_df = pd.read_csv('csvs\Par_RegionalBaseYearProduction.csv', skiprows=4, delimiter=';')

# Now you have the data from the CSV file stored in the 'second_df' DataFrame
print(second_df)

     Region           Technology                  Fuel      2018
0        AT          HLR_Biomass  Heat_Low_Residential    71,694
1        AT         HLR_Hardcoal  Heat_Low_Residential     2,794
2        AT       HLR_Oil_Boiler  Heat_Low_Residential    57,279
3        AT          HLI_Biomass   Heat_Low_Industrial     2,659
4        AT         HLI_Hardcoal   Heat_Low_Industrial     0,275
...     ...                  ...                   ...       ...
1026    NO1  HLR_Direct_Electric  Heat_Low_Residential  61,14528
1027    NO2  HLR_Direct_Electric  Heat_Low_Residential  34,94016
1028    NO3  HLR_Direct_Electric  Heat_Low_Residential  20,38176
1029    NO4  HLR_Direct_Electric  Heat_Low_Residential  13,10256
1030    NO5  HLR_Direct_Electric  Heat_Low_Residential  16,01424

[1031 rows x 4 columns]

In [5]:
# Extract the unique values from the fourth entry (dimension) of the first DataFrame
unique_values_from_first_df = filtered_df.iloc[:, 3].unique()

# Filter the second DataFrame to keep only the rows where the first dimension is in the unique values from the first DataFrame
filtered_second_df = second_df[second_df.iloc[:, 0].isin(unique_values_from_first_df)]

# Now 'filtered_second_df' contains only the values where the first dimension can be found in the fourth entry of the first DataFrame
print(filtered_second_df)

     Region           Technology                  Fuel      2018
162      DE          HLR_Biomass  Heat_Low_Residential   251,332
163      DE         HLR_Hardcoal  Heat_Low_Residential    45,728
164      DE       HLR_Oil_Boiler  Heat_Low_Residential   681,617
165      DE          HLI_Biomass   Heat_Low_Industrial      5,19
166      DE         HLI_Hardcoal   Heat_Low_Industrial     5,076
...     ...                  ...                   ...       ...
1006    NO1           P_Gas_OCGT                 Power   0,16975
1011    NO1    CHP_Biomass_Solid                 Power    0,0428
1016    NO1  HLR_Heatpump_Aerial  Heat_Low_Residential   6,45414
1021    NO1  HLR_Heatpump_Ground  Heat_Low_Residential   0,33978
1026    NO1  HLR_Direct_Electric  Heat_Low_Residential  61,14528

[61 rows x 4 columns]

In [6]:
# Read the CSV file into a Pandas DataFrame, starting from row 5 and using ';' as the delimiter
third_df = pd.read_csv('csvs\Par_CapitalCost.csv', skiprows=4, delimiter=';')

# Now you have the data from the CSV file stored in the 'second_df' DataFrame
print(third_df)

   Region                Technology               2018               2020  \
0      DE         CHP_Biomass_Solid             2200,0             2090,0
1      DE         CHP_Coal_Hardcoal             2750,0             2750,0
2      DE          CHP_Coal_Lignite             2200,0             2200,0
3      DE      CHP_Gas_CCGT_Natural  935,0000000000001  858,0000000000001
4      DE       CHP_Gas_CCGT_Biogas  935,0000000000001  858,0000000000001
5      DE       CHP_Gas_CCGT_SynGas  935,0000000000001  858,0000000000001
6      DE     CHP_Biomass_Solid_CCS           6342,105           6342,105
7      DE     CHP_Coal_Hardcoal_CCS             4125,0             4125,0
8      DE      CHP_Coal_Lignite_CCS             3300,0             3300,0
9      DE  CHP_Gas_CCGT_Natural_CCS             1402,5             1287,0
10     DE   CHP_Gas_CCGT_Biogas_CCS             1402,5             1287,0
11     DE     CHP_Hydrogen_FuelCell             1100,0            1081,25
12     DE            HLI_Convert_DH                1,0                1,0
13     DE            HLR_Convert_DH                1,0                1,0
14     DE                   CHP_Oil              930,0              930,0
15     DE   Res_PV_Utility_Tracking             1200,0              612,0
16     DE                P_Gas_CCGT              700,0  642,3529411764706
17     DE                P_Gas_OCGT              400,0  381,3953488372093
18     DE             P_Gas_Engines              620,0              590,0

                 2025               2030               2035  \
0              1980,0             1925,0             1870,0
1              2750,0             2750,0             2750,0
2              2200,0             2200,0             2200,0
3   847,0000000000001  836,0000000000001  825,0000000000001
4   847,0000000000001  836,0000000000001  825,0000000000001
5   847,0000000000001  836,0000000000001  825,0000000000001
6            6342,105           6342,105           6342,105
7              4125,0             4125,0             4125,0
8              3300,0             3300,0             3300,0
9              1270,5             1254,0             1237,5
10             1270,5             1254,0             1237,5
11           1034,375              987,5            940,625
12                1,0                1,0                1,0
13                1,0                1,0                1,0
14              930,0              930,0              930,0
15              444,0              360,0              312,0
16  634,1176470588235  625,8823529411765  617,6470588235294
17   372,093023255814   372,093023255814   372,093023255814
18              580,0              570,0              560,0

                 2040               2045               2050     .1  .2  \
0              1870,0             1870,0             1870,0
1              2750,0             2750,0             2750,0
2              2200,0             2200,0             2200,0
3   814,0000000000001  814,0000000000001  814,0000000000001
4   814,0000000000001  814,0000000000001  814,0000000000001
5   814,0000000000001  814,0000000000001  814,0000000000001
6            6342,105           6342,105           6342,105
7              4125,0             4125,0             4125,0
8              3300,0             3300,0             3300,0
9              1221,0             1221,0             1221,0
10             1221,0             1221,0             1221,0
11             893,75            846,875              800,0
12                1,0                1,0                1,0
13                1,0                1,0                1,0
14              930,0              930,0              930,0
15              276,0              252,0              228,0
16  609,4117647058823  609,4117647058823  609,4117647058823
17   372,093023255814   372,093023255814   372,093023255814
18              560,0              560,0              560,0

                                                   .3  \
0                                       JRC-TIMES+DEA
1                                       JRC-TIMES+DEA
2                                       JRC-TIMES+DEA
3                                       JRC-TIMES+DEA
4                                       JRC-TIMES+DEA
5                                       JRC-TIMES+DEA
6                                      own assumption
7                                      own assumption
8                                      own assumption
9                                      own assumption
10                                     own assumption
11                                              Kevin
12                                     marginal costs
13                                     marginal costs
14  Mapping and analyses of the current and future...
15
16                                                EWI
17                                                EWI
18                                                EWI

                                     .4          .5
0   10% on PP, PP prices from JRC TIMES
1   10% on PP, PP prices from JRC TIMES
2   10% on PP, PP prices from JRC TIMES
3   10% on PP, PP prices from JRC TIMES
4   10% on PP, PP prices from JRC TIMES
5   10% on PP, PP prices from JRC TIMES
6             50% higher than normal PP
7             50% higher than normal PP
8             50% higher than normal PP
9             50% higher than normal PP
10            50% higher than normal PP
11            old data (90% eff, Kevin)  Power+Heat
12
13
14
15
16
17
18

In [7]:
# Filter the second DataFrame to keep only the rows where the first dimension is in the unique values from the first DataFrame
filtered_third_df = third_df[third_df.iloc[:, 0].isin(unique_values_from_first_df)]

# Now 'filtered_second_df' contains only the values where the first dimension can be found in the fourth entry of the first DataFrame
print(filtered_third_df)

   Region                Technology               2018               2020  \
0      DE         CHP_Biomass_Solid             2200,0             2090,0
1      DE         CHP_Coal_Hardcoal             2750,0             2750,0
2      DE          CHP_Coal_Lignite             2200,0             2200,0
3      DE      CHP_Gas_CCGT_Natural  935,0000000000001  858,0000000000001
4      DE       CHP_Gas_CCGT_Biogas  935,0000000000001  858,0000000000001
5      DE       CHP_Gas_CCGT_SynGas  935,0000000000001  858,0000000000001
6      DE     CHP_Biomass_Solid_CCS           6342,105           6342,105
7      DE     CHP_Coal_Hardcoal_CCS             4125,0             4125,0
8      DE      CHP_Coal_Lignite_CCS             3300,0             3300,0
9      DE  CHP_Gas_CCGT_Natural_CCS             1402,5             1287,0
10     DE   CHP_Gas_CCGT_Biogas_CCS             1402,5             1287,0
11     DE     CHP_Hydrogen_FuelCell             1100,0            1081,25
12     DE            HLI_Convert_DH                1,0                1,0
13     DE            HLR_Convert_DH                1,0                1,0
14     DE                   CHP_Oil              930,0              930,0
15     DE   Res_PV_Utility_Tracking             1200,0              612,0
16     DE                P_Gas_CCGT              700,0  642,3529411764706
17     DE                P_Gas_OCGT              400,0  381,3953488372093
18     DE             P_Gas_Engines              620,0              590,0

                 2025               2030               2035  \
0              1980,0             1925,0             1870,0
1              2750,0             2750,0             2750,0
2              2200,0             2200,0             2200,0
3   847,0000000000001  836,0000000000001  825,0000000000001
4   847,0000000000001  836,0000000000001  825,0000000000001
5   847,0000000000001  836,0000000000001  825,0000000000001
6            6342,105           6342,105           6342,105
7              4125,0             4125,0             4125,0
8              3300,0             3300,0             3300,0
9              1270,5             1254,0             1237,5
10             1270,5             1254,0             1237,5
11           1034,375              987,5            940,625
12                1,0                1,0                1,0
13                1,0                1,0                1,0
14              930,0              930,0              930,0
15              444,0              360,0              312,0
16  634,1176470588235  625,8823529411765  617,6470588235294
17   372,093023255814   372,093023255814   372,093023255814
18              580,0              570,0              560,0

                 2040               2045               2050     .1  .2  \
0              1870,0             1870,0             1870,0
1              2750,0             2750,0             2750,0
2              2200,0             2200,0             2200,0
3   814,0000000000001  814,0000000000001  814,0000000000001
4   814,0000000000001  814,0000000000001  814,0000000000001
5   814,0000000000001  814,0000000000001  814,0000000000001
6            6342,105           6342,105           6342,105
7              4125,0             4125,0             4125,0
8              3300,0             3300,0             3300,0
9              1221,0             1221,0             1221,0
10             1221,0             1221,0             1221,0
11             893,75            846,875              800,0
12                1,0                1,0                1,0
13                1,0                1,0                1,0
14              930,0              930,0              930,0
15              276,0              252,0              228,0
16  609,4117647058823  609,4117647058823  609,4117647058823
17   372,093023255814   372,093023255814   372,093023255814
18              560,0              560,0              560,0

                                                   .3  \
0                                       JRC-TIMES+DEA
1                                       JRC-TIMES+DEA
2                                       JRC-TIMES+DEA
3                                       JRC-TIMES+DEA
4                                       JRC-TIMES+DEA
5                                       JRC-TIMES+DEA
6                                      own assumption
7                                      own assumption
8                                      own assumption
9                                      own assumption
10                                     own assumption
11                                              Kevin
12                                     marginal costs
13                                     marginal costs
14  Mapping and analyses of the current and future...
15
16                                                EWI
17                                                EWI
18                                                EWI

                                     .4          .5
0   10% on PP, PP prices from JRC TIMES
1   10% on PP, PP prices from JRC TIMES
2   10% on PP, PP prices from JRC TIMES
3   10% on PP, PP prices from JRC TIMES
4   10% on PP, PP prices from JRC TIMES
5   10% on PP, PP prices from JRC TIMES
6             50% higher than normal PP
7             50% higher than normal PP
8             50% higher than normal PP
9             50% higher than normal PP
10            50% higher than normal PP
11            old data (90% eff, Kevin)  Power+Heat
12
13
14
15
16
17
18

In [8]:
# Create a Pandas Excel writer
with pd.ExcelWriter('output.xlsx', engine='openpyxl') as writer:
    # Write the first DataFrame to the Excel file
    df.to_excel(writer, sheet_name='FirstDataFrame', index=False)
    
    # Write the second filtered DataFrame to the Excel file
    filtered_second_df.to_excel(writer, sheet_name='FilteredSecondDataFrame', index=False)
    
    # Write the third filtered DataFrame to the Excel file
    filtered_third_df.to_excel(writer, sheet_name='FilteredThirdDataFrame', index=False)