In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('GENeSYS-MOD_User_Input_Settings_v01_phe_05-09-2023.xlsx', sheet_name='Region_selection')

# Now you can work with the DataFrame (e.g., display, manipulate, analyze data)
print(df)

  Continent Country Country_Sublevel_1 Country_Sublevel_2  Region Selected
0    Europe      DE              DE-BY           DE-BY-UF                1
1    Europe      NO                NO1               NO11                1
2    Europe      NO                NO1                NO1                1
3    Europe      NO                 NO                 NO                0
4    Europe      DE              DE-BY              DE-BY                1
5    Europe      DE                 DE                 DE                0
6      Asia      CN                 CN                 CN                0
7      Asia      CN             CN-Cen             CN-Cen                1
8      Asia      CN             CN-Cen       CN-Cen-Henan                1

In [3]:
filtered_df = df[df.iloc[:, -1] == 1]

# Now 'filtered_df' contains only the entries with a 1 in the last field
print(filtered_df)

  Continent Country Country_Sublevel_1 Country_Sublevel_2  Region Selected
0    Europe      DE              DE-BY           DE-BY-UF                1
1    Europe      NO                NO1               NO11                1
2    Europe      NO                NO1                NO1                1
4    Europe      DE              DE-BY              DE-BY                1
7      Asia      CN             CN-Cen             CN-Cen                1
8      Asia      CN             CN-Cen       CN-Cen-Henan                1