## This is the only cell you need to change ##

### Required packages ###
- numpy
- pandas
- openpyxl
- xlsxwriter

### Possible filter file ###
- Default: Set_filter_file.xlsx
- Any other filter file name as long as file exists in main directory
  
### Possible file formats ###
- CSV
- excel

### Possible output formats ###
- long format where each line contains one value
- wide table-style format where values for different years (and in case of trade parameters regions) are grouped per line

### Possible processing options ###
- both creates the dataset for parameters and timeseries
- parameters_only for only regular parameters (saves time since timeseries, especially with excel, takes a lot of time)
- timeseries_only for only timeseries

### Possible scenario options ###
- Any scenario name. The script will search for input data for the specified this scenario and overwrite the default values.

In [1]:
# Options regarding output format and processing
settings_file = 'Set_filter_file.xlsx' # Specify which filter file should be used
output_file_format = 'excel'  # Change this to 'csv' or 'excel' depending on your needs
output_format = 'long' # Change to 'wide' or 'long' depending on your needs
processing_option = 'parameters_only' # Change to 'parameters_only' if you don't want the timeseries to created (saves time) or 'timeseries_only' for only timeseries or 'both' 
scenario_option = 'Europe_EnVis_NECPEssentials' # Specify your scenario here. Type 'None' for no scenario
debugging_output = False # specify if there should be more information in case of a code error | boolean: True or False

## Run this cell to execute the script ##
### You don't need to change anything in here ###

In [2]:
from functions.function_import import master_function

# Call the function
master_function(settings_file,output_file_format, output_format, processing_option, scenario_option, debugging_output)

1

,Region,Technology,Mode_of_operation,Emission,Year,Value,Unnamed: 6,Unit,Source,Updated at,Updated by
0,World,FRT_Rail_Conv,1.0,CO2,2018,1.0,NaN,NaN,NaN,NaN,NaN
1,World,FRT_Rail_Conv,1.0,CO2,2025,1.0,NaN,NaN,NaN,NaN,NaN
2,World,FRT_Rail_Conv,1.0,CO2,2030,1.0,NaN,NaN,NaN,NaN,NaN
3,World,FRT_Rail_Conv,1.0,CO2,2035,1.0,NaN,NaN,NaN,NaN,NaN
4,World,FRT_Rail_Conv,1.0,CO2,2040,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1355,World,X_SMR,2.0,CO2,2050,1.0,NaN,Fraction,no source needed - all emissions go into athmo...,NaN,NaN
1356,World,X_SMR,3.0,CO2,2050,1.0,NaN,Fraction,no source needed - all emissions go into athmo...,NaN,NaN
1357,World,X_SMR,4.0,CO2,2050,1.0,NaN,Fraction,no source needed - all emissions go into athmo...,NaN,NaN
1358,World,X_SMR,5.0,CO2,2050,1.0,NaN,Fraction,no source needed - all emissions go into athmo...,NaN,NaN
1359,World,X_SMR,6.0,CO2,2050,1.0,NaN,Fraction,no source needed - all emissions go into athmo...,NaN,NaN

2

,Region,Technology,Mode_of_operation,Emission,Year,Value,Unnamed: 6,Unit,Source,Updated at,Updated by
70,World,HHI_BF_BOF_CCS,1.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
71,World,HHI_BF_BOF_CCS,2.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
72,World,HHI_BF_BOF_CCS,3.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
73,World,HHI_BF_BOF_CCS,4.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
74,World,HHI_BF_BOF_CCS,5.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
75,World,HHI_BF_BOF_CCS,6.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
118,World,HHI_DRI_EAF_CCS,1.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
119,World,HHI_DRI_EAF_CCS,2.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
120,World,HHI_DRI_EAF_CCS,3.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
121,World,HHI_DRI_EAF_CCS,4.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
122,World,HHI_DRI_EAF_CCS,5.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
123,World,HHI_DRI_EAF_CCS,6.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
166,World,HMHI_Gas_CCS,1.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
167,World,HMHI_Gas_CCS,2.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
168,World,HMHI_Gas_CCS,3.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
169,World,HMHI_Gas_CCS,4.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
170,World,HMHI_Gas_CCS,5.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
171,World,HMHI_Gas_CCS,6.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
214,World,HMHI_HardCoal_CCS,1.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
215,World,HMHI_HardCoal_CCS,2.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
216,World,HMHI_HardCoal_CCS,3.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
217,World,HMHI_HardCoal_CCS,4.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
218,World,HMHI_HardCoal_CCS,5.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
219,World,HMHI_HardCoal_CCS,6.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
262,World,P_Coal_Hardcoal_CCS,1.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
263,World,P_Coal_Hardcoal_CCS,2.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
264,World,P_Coal_Hardcoal_CCS,3.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
265,World,P_Coal_Hardcoal_CCS,4.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
266,World,P_Coal_Hardcoal_CCS,5.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
267,World,P_Coal_Hardcoal_CCS,6.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
310,World,P_Gas_CCS,1.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
311,World,P_Gas_CCS,2.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
312,World,P_Gas_CCS,3.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
313,World,P_Gas_CCS,4.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
314,World,P_Gas_CCS,5.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN
315,World,P_Gas_CCS,6.0,CO2,2020,0.093333,NaN,NaN,NaN,NaN,NaN

3

     Region     Technology  Mode_of_operation Emission  Year  Value
0     World  FRT_Rail_Conv                1.0      CO2  2018    1.0
1     World  FRT_Rail_Conv                1.0      CO2  2025    1.0
2     World  FRT_Rail_Conv                1.0      CO2  2030    1.0
3     World  FRT_Rail_Conv                1.0      CO2  2035    1.0
4     World  FRT_Rail_Conv                1.0      CO2  2040    1.0
...     ...            ...                ...      ...   ...    ...
1355  World          X_SMR                2.0      CO2  2050    1.0
1356  World          X_SMR                3.0      CO2  2050    1.0
1357  World          X_SMR                4.0      CO2  2050    1.0
1358  World          X_SMR                5.0      CO2  2050    1.0
1359  World          X_SMR                6.0      CO2  2050    1.0

[1360 rows x 6 columns]

array(['A_Air', 'A_Rooftop_Commercial', 'A_Rooftop_Residential',
       'CHP_Biomass_Solid', 'CHP_Biomass_Solid_CCS', 'CHP_Coal_Hardcoal',
       'CHP_Coal_Hardcoal_CCS', 'CHP_Coal_Lignite',
       'CHP_Coal_Lignite_CCS', 'CHP_Gas_CCGT_Biogas',
       'CHP_Gas_CCGT_Biogas_CCS', 'CHP_Gas_CCGT_Natural',
       'CHP_Gas_CCGT_Natural_CCS', 'CHP_Gas_CCGT_SynGas',
       'CHP_Hydrogen_FuelCell', 'CHP_Oil', 'D_Battery_Li-Ion',
       'D_Battery_Redox', 'D_CAES', 'D_Gas_H2', 'D_Gas_Methane',
       'D_HLI_Tank_Large', 'D_HB_Tank_Small', 'D_HD_Pit', 'D_PHS',
       'FRT_Rail_Conv', 'FRT_Rail_Electric', 'FRT_Road_BEV',
       'FRT_Road_H2', 'FRT_Road_ICE', 'FRT_Road_LNG', 'FRT_Road_OH',
       'FRT_Road_PHEV', 'FRT_Ship_Bio', 'FRT_Ship_Conv', 'FRT_Ship_LNG',
       'HB_Biomass', 'HB_Convert_DH', 'HB_Direct_Electric',
       'HB_Gas_Boiler', 'HB_Geothermal', 'HB_H2_Boiler', 'HB_Hardcoal',
       'HB_Heatpump_Aerial', 'HB_Heatpump_Ground', 'HB_Lignite',
       'HB_Oil_Boiler', 'HB_Solar_Thermal', 'HD_Electric_Boiler',
       'HD_Geothermal', 'HD_Heatpump_Air', 'HD_Heatpump_ExcessHeat',
       'HD_Solar_Thermal', 'HHI_BF_BOF', 'HHI_BF_BOF_CCS',
       'HHI_Bio_BF_BOF', 'HHI_DRI_EAF', 'HHI_DRI_EAF_CCS',
       'HHI_H2DRI_EAF', 'HHI_Molten_Electrolysis', 'HHI_Scrap_EAF',
       'HLI_Biomass', 'HLI_Convert_DH', 'HLI_Direct_Electric',
       'HLI_Fuelcell', 'HLI_Gas_Boiler', 'HLI_Geothermal',
       'HLI_H2_Boiler', 'HLI_Hardcoal', 'HLI_Lignite', 'HLI_Oil_Boiler',
       'HLI_Solar_Thermal', 'HMHI_Biomass', 'HMHI_Gas', 'HMHI_Gas_CCS',
       'HMHI_H2', 'HMHI_HardCoal', 'HMHI_HardCoal_CCS', 'HMHI_Oil',
       'HMHI_Steam_Electric', 'HMLI_Heatpump', 'P_Biomass',
       'P_Biomass_CCS', 'P_Coal_Hardcoal', 'P_Coal_Hardcoal_CCS',
       'P_Coal_Lignite', 'P_Coal_Lignite_CCS', 'P_CSP', 'P_Gas_CCGT',
       'P_Gas_CCS', 'P_Gas_Engines', 'P_Gas_OCGT', 'P_Geothermal',
       'P_H2_OCGT', 'P_Hydro_Reservoir', 'P_Hydro_RoR', 'P_Nuclear',
       'P_Ocean', 'P_Oil', 'P_PV_Rooftop_Commercial',
       'P_PV_Rooftop_Residential', 'P_PV_Utility_Avg', 'P_PV_Utility_Inf',
       'P_PV_Utility_Opt', 'P_PV_Utility_Tracking',
       'P_Wind_Offshore_Deep', 'P_Wind_Offshore_Shallow',
       'P_Wind_Offshore_Transitional', 'P_Wind_Onshore_Avg',
       'P_Wind_Onshore_Inf', 'P_Wind_Onshore_Opt', 'PSNG_Air_Bio',
       'PSNG_Air_Conv', 'PSNG_Air_H2', 'PSNG_Rail_Conv',
       'PSNG_Rail_Electric', 'PSNG_Road_BEV', 'PSNG_Road_H2',
       'PSNG_Road_ICE', 'PSNG_Road_LNG', 'PSNG_Road_PHEV', 'R_Biogas',
       'R_Coal_Hardcoal', 'R_Coal_Lignite', 'R_Gas', 'R_Grass',
       'R_Nuclear', 'R_Oil', 'R_Paper_Cardboard', 'R_Residues',
       'R_Roundwood', 'R_Wood', 'X_Alkaline_Electrolysis', 'X_ATR_CCS',
       'X_Biofuel', 'X_DAC_HT', 'X_DAC_LT', 'X_Electrolysis',
       'X_Gasifier', 'X_Liquifier', 'X_Methanation', 'X_PEM_Electrolysis',
       'X_Powerfuel', 'X_SMR', 'X_SOEC_Electrolysis', 'Z_ETS_Buy',
       'Z_ETS_Sell', 'Z_Import_Gas', 'Z_Import_H2', 'Z_Import_Hardcoal',
       'Z_Import_LNG', 'Z_Import_Oil'], dtype=object)

array([2018., 2025., 2030., 2035., 2040., 2045., 2050.,   nan])

array([ 1.,  2.,  3.,  4.,  5.,  6., nan])

Region

     Region     Technology  Mode_of_operation Emission  Year  Value
0     World  FRT_Rail_Conv                1.0      CO2  2018    1.0
1     World  FRT_Rail_Conv                1.0      CO2  2025    1.0
2     World  FRT_Rail_Conv                1.0      CO2  2030    1.0
3     World  FRT_Rail_Conv                1.0      CO2  2035    1.0
4     World  FRT_Rail_Conv                1.0      CO2  2040    1.0
...     ...            ...                ...      ...   ...    ...
1355  World          X_SMR                2.0      CO2  2050    1.0
1356  World          X_SMR                3.0      CO2  2050    1.0
1357  World          X_SMR                4.0      CO2  2050    1.0
1358  World          X_SMR                5.0      CO2  2050    1.0
1359  World          X_SMR                6.0      CO2  2050    1.0

[1360 rows x 6 columns]

Technology

     Region     Technology  Mode_of_operation Emission  Year  Value
0     World  FRT_Rail_Conv                1.0      CO2  2018    1.0
1     World  FRT_Rail_Conv                1.0      CO2  2025    1.0
2     World  FRT_Rail_Conv                1.0      CO2  2030    1.0
3     World  FRT_Rail_Conv                1.0      CO2  2035    1.0
4     World  FRT_Rail_Conv                1.0      CO2  2040    1.0
...     ...            ...                ...      ...   ...    ...
1355  World          X_SMR                2.0      CO2  2050    1.0
1356  World          X_SMR                3.0      CO2  2050    1.0
1357  World          X_SMR                4.0      CO2  2050    1.0
1358  World          X_SMR                5.0      CO2  2050    1.0
1359  World          X_SMR                6.0      CO2  2050    1.0

[1318 rows x 6 columns]

Mode_of_operation

     Region     Technology  Mode_of_operation Emission  Year  Value
0     World  FRT_Rail_Conv                1.0      CO2  2018    1.0
1     World  FRT_Rail_Conv                1.0      CO2  2025    1.0
2     World  FRT_Rail_Conv                1.0      CO2  2030    1.0
3     World  FRT_Rail_Conv                1.0      CO2  2035    1.0
4     World  FRT_Rail_Conv                1.0      CO2  2040    1.0
...     ...            ...                ...      ...   ...    ...
1355  World          X_SMR                2.0      CO2  2050    1.0
1356  World          X_SMR                3.0      CO2  2050    1.0
1357  World          X_SMR                4.0      CO2  2050    1.0
1358  World          X_SMR                5.0      CO2  2050    1.0
1359  World          X_SMR                6.0      CO2  2050    1.0

[1318 rows x 6 columns]

Emission

     Region     Technology  Mode_of_operation Emission  Year  Value
0     World  FRT_Rail_Conv                1.0      CO2  2018    1.0
1     World  FRT_Rail_Conv                1.0      CO2  2025    1.0
2     World  FRT_Rail_Conv                1.0      CO2  2030    1.0
3     World  FRT_Rail_Conv                1.0      CO2  2035    1.0
4     World  FRT_Rail_Conv                1.0      CO2  2040    1.0
...     ...            ...                ...      ...   ...    ...
1355  World          X_SMR                2.0      CO2  2050    1.0
1356  World          X_SMR                3.0      CO2  2050    1.0
1357  World          X_SMR                4.0      CO2  2050    1.0
1358  World          X_SMR                5.0      CO2  2050    1.0
1359  World          X_SMR                6.0      CO2  2050    1.0

[1318 rows x 6 columns]

Year

     Region     Technology  Mode_of_operation Emission  Year  Value
0     World  FRT_Rail_Conv                1.0      CO2  2018    1.0
1     World  FRT_Rail_Conv                1.0      CO2  2025    1.0
2     World  FRT_Rail_Conv                1.0      CO2  2030    1.0
3     World  FRT_Rail_Conv                1.0      CO2  2035    1.0
4     World  FRT_Rail_Conv                1.0      CO2  2040    1.0
...     ...            ...                ...      ...   ...    ...
1355  World          X_SMR                2.0      CO2  2050    1.0
1356  World          X_SMR                3.0      CO2  2050    1.0
1357  World          X_SMR                4.0      CO2  2050    1.0
1358  World          X_SMR                5.0      CO2  2050    1.0
1359  World          X_SMR                6.0      CO2  2050    1.0

[1282 rows x 6 columns]

4

     Region     Technology  Mode_of_operation Emission  Year  Value
0     World  FRT_Rail_Conv                1.0      CO2  2018    1.0
1     World  FRT_Rail_Conv                1.0      CO2  2025    1.0
2     World  FRT_Rail_Conv                1.0      CO2  2030    1.0
3     World  FRT_Rail_Conv                1.0      CO2  2035    1.0
4     World  FRT_Rail_Conv                1.0      CO2  2040    1.0
...     ...            ...                ...      ...   ...    ...
1355  World          X_SMR                2.0      CO2  2050    1.0
1356  World          X_SMR                3.0      CO2  2050    1.0
1357  World          X_SMR                4.0      CO2  2050    1.0
1358  World          X_SMR                5.0      CO2  2050    1.0
1359  World          X_SMR                6.0      CO2  2050    1.0

[1282 rows x 6 columns]

C:\Users\nim\Documents\GENeSYS_MOD.data\Conversion Script\functions\process_parameters.py:38: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  df['Value'] = df['Value_updated'].combine_first(df['Value'])
C:\Users\nim\Documents\GENeSYS_MOD.data\Conversion Script\functions\process_parameters.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, additional_rows], ignore_index=True)

Worksheets with specified scenario data:
AnnualEmissionLimit
CapitalCost
FixedCost
GrowthRateTradeCapacity
ModelPeriodEmissionLimit
ResidualCapacity
SpecifiedAnnualDemand
VariableCost


Writing of the parameter data took:  5.447007  seconds



Everything worked successfully. You are great! Smile :)