In [1]:
# Import the necessary functions from the functions package
from functions.read_excel_data import read_excel_data
from functions.merge_data import find_matching_sheets
import os

# Define the path for the Excel file (assuming it is in the same directory as the notebook)
current_directory = os.getcwd()
excel_file_path = os.path.join(current_directory, 'Excel_data.xlsx')

# Call the read_excel_data function
data_dict = read_excel_data(excel_file_path)

# Define the path to the base directory containing folders named after the sheets (one level up)
base_directory = os.path.abspath(os.path.join(current_directory, '..', 'Data', 'Parameters'))

# Call the find_matching_sheets function
csv_files_info = find_matching_sheets(excel_file_path, base_directory, data_dict)

# Print the list of CSV files being read in along with their headers
for file_name, headers in csv_files_info:
    print(f"CSV file: {file_name}, Headers: {headers}")

Comparing entries in sheet 'Par_AnnualEmissionLimit':
CSV entries:
  Emission  Year    Value
0      CO2  2018  99999.0
1      CO2  2020  99999.0
2      CO2  2025  99999.0
3      CO2  2030  99999.0
4      CO2  2035  99999.0
5      CO2  2040  99999.0
6      CO2  2045  99999.0
7      CO2  2050  99999.0
Excel entries:
   Emission  Year    Value
0       CO2  2018  99999.0
1   Methane  2018      1.0
2       CO2  2025  99999.0
3   Methane  2025      2.0
4       CO2  2030  99999.0
5   Methane  2030      3.0
6       CO2  2035  99999.0
7   Methane  2035      4.0
8       CO2  2040  99999.0
9   Methane  2040      5.0
10      CO2  2045  99999.0
11  Methane  2045      6.0
12      CO2  2050      5.0
13  Methane  2050      7.0
Updated row: Emission           CO2
Year              2018
Value_csv      99999.0
Value_excel    99999.0
Value          99999.0
Name: 0, dtype: object
Updated row: Emission           CO2
Year              2020
Value_csv      99999.0
Value_excel        NaN
Value          99999.0
Name: 1, dtype: object
Updated row: Emission           CO2
Year              2025
Value_csv      99999.0
Value_excel    99999.0
Value          99999.0
Name: 2, dtype: object
Updated row: Emission           CO2
Year              2030
Value_csv      99999.0
Value_excel    99999.0
Value          99999.0
Name: 3, dtype: object
Updated row: Emission           CO2
Year              2035
Value_csv      99999.0
Value_excel    99999.0
Value          99999.0
Name: 4, dtype: object
Updated row: Emission           CO2
Year              2040
Value_csv      99999.0
Value_excel    99999.0
Value          99999.0
Name: 5, dtype: object
Updated row: Emission           CO2
Year              2045
Value_csv      99999.0
Value_excel    99999.0
Value          99999.0
Name: 6, dtype: object
Updating row with key Emission     CO2
Year        2050
Name: 7, dtype: object:
Updated row: Emission                                                     CO2
Year                                                        2050
Value_csv                                                99999.0
Value_excel                                                  5.0
Value                                                        5.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 7, dtype: object
Updating row with key Emission    Methane
Year           2018
Name: 8, dtype: object:
Updated row: Emission                                                 Methane
Year                                                        2018
Value_csv                                                    NaN
Value_excel                                                  1.0
Value                                                        1.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 8, dtype: object
Updating row with key Emission    Methane
Year           2025
Name: 9, dtype: object:
Updated row: Emission                                                 Methane
Year                                                        2025
Value_csv                                                    NaN
Value_excel                                                  2.0
Value                                                        2.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 9, dtype: object
Updating row with key Emission    Methane
Year           2030
Name: 10, dtype: object:
Updated row: Emission                                                 Methane
Year                                                        2030
Value_csv                                                    NaN
Value_excel                                                  3.0
Value                                                        3.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 10, dtype: object
Updating row with key Emission    Methane
Year           2035
Name: 11, dtype: object:
Updated row: Emission                                                 Methane
Year                                                        2035
Value_csv                                                    NaN
Value_excel                                                  4.0
Value                                                        4.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 11, dtype: object
Updating row with key Emission    Methane
Year           2040
Name: 12, dtype: object:
Updated row: Emission                                                 Methane
Year                                                        2040
Value_csv                                                    NaN
Value_excel                                                  5.0
Value                                                        5.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 12, dtype: object
Updating row with key Emission    Methane
Year           2045
Name: 13, dtype: object:
Updated row: Emission                                                 Methane
Year                                                        2045
Value_csv                                                    NaN
Value_excel                                                  6.0
Value                                                        6.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 13, dtype: object
Updating row with key Emission    Methane
Year           2050
Name: 14, dtype: object:
Updated row: Emission                                                 Methane
Year                                                        2050
Value_csv                                                    NaN
Value_excel                                                  7.0
Value                                                        7.0
Unit                                                  Megatonnes
Source         Automatically generated entry, please add source!
Updated at                                            04.06.2024
Updated by            Automatically generated entry, please add!
Name: 14, dtype: object
Merged DataFrame columns: ['Emission', 'Source', 'Unit', 'Updated at', 'Updated by', 'Value', 'Value_csv', 'Value_excel', 'Year']
CSV file: Par_AnnualEmissionLimit.csv, Headers: ['Emission', 'Year', 'Value', 'Unit', 'Source', 'Updated at', 'Updated by']